/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* App component styles */
.App {
  text-align: center;
}

/* Main container styles */
.main-container {
  background: linear-gradient(135deg, #0078d4 0%, #005a9e 20%, #ff7a59 50%, #31797c 80%);
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: rotateBG 6s linear infinite, pulseBG 6s ease-in-out infinite;
  z-index: 1;
}

@keyframes rotateBG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseBG {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

/* Paper styles */
.paper-container {
  max-width: 800px;
  width: 100%;
  margin: 20px;
  padding: 20px; /* Adicionar padding para manter o espaçamento interno */
  box-shadow: 0 8px 16px rgba(0,0,0,0.8);
  border-radius: 15px;
  background: white;
  z-index: 2;
  position: relative;
}

/* Dropzone styles */
.dropzone:hover {
  background-color: #ffab91; /* Lighter orange for HubSpot */
}

.dropzone:active {
  background-color: #ff7043; /* Darker orange for HubSpot */  
}

.dropzone.uploading {
  border-color: #ff7043 !important; /* Darker orange for the uploading state */
}

/* Button styles */
.buttonClicked {
  border: 2px solid #2a6c71 !important;
  outline: none !important; /* Remove default outline */
}

button:focus {
  outline: none !important; /* Remove default outline on focus */
}

/* TextField styles */
.customTextFieldRoot .MuiOutlinedInput-notchedOutline {
  border-color: #3f979d !important;
}

.customTextFieldRoot:hover .MuiOutlinedInput-notchedOutline {
  border-color: #3f979d !important;
}

.customTextFieldFocused .MuiOutlinedInput-notchedOutline {
  border-color: #3f979d !important;
}

.customLabelRoot {
  color: #000000 !important;
}

.customLabelFocused {
  color: #ff5722 !important;
}

/* Logo styles */
.logo {
  width: 130px; /* Aumentar a largura para 130px */
  height: auto; /* Manter a proporção */
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.2s ease-in-out; /* Adiciona transição para o efeito de zoom */
}

.logo:hover {
  transform: scale(1.05); /* Efeito de zoom quando o mouse passa por cima */
}

/* Icon styles */
.icon {
  width: 50px; /* Aumentar a largura para 50px */
  height: 50px; /* Aumentar a altura para 50px */
  object-fit: contain;
  transition: transform 0.2s ease-in-out; /* Adiciona transição para o efeito de zoom */
}

.icon:hover {
  transform: scale(1.05); /* Efeito de zoom quando o mouse passa por cima */
}

/* App.css */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f8fa; /* Background color for the whole page */
}

.scale-down {
  transform: scale(0.80); /* Scale down the card to 80% of its original size */
  transform-origin: center; /* Ensure the scaling is from the center */
}

.icon {
  height: 40px; /* Ajustar altura para 50px */
  width: 40px; /* Ajustar largura para 50px */
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

.cancel-icon {
  transition: transform 0.1s ease-in-out;
}

.cancel-icon:hover {
  transform: scale(1.1); /* Aumentar de tamanho quando o mouse passa por cima */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-spinner {
  border: 2.5px solid rgba(60, 60, 60, 0.2); /* Light grey */
  border-top: 2.5px solid #ff5722; /* Orange */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 0.8s linear infinite;
}

.custom-spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
